.btn{
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    max-width: 320px;
    text-align: center;
    font-weight: 400;
    border: none;
    transition: color .5s, background-color .5s, transform .5s;

    &:hover{
        transform: translate(5px, -5px);
    }

    &_red{
        color: #fff;
        background-color: $red;

        &:hover{
            background-color: #fff;
            color: $red;
        }
    }

    &_white{
        background-color: #fff;
        color: $red;

        &:hover{
            background-color: $red;
            color: #fff;
        }
    }
}