<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-5">
      <div class="modal-header border-0 d-flex align-items-start justify-content-between">
        <h5 class="title title_small align-self-end" id="exampleModalLabel">Получить индивидуальный маркетинговый план</h5>
        <button type="button" class="btn_modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-6">
              <form action="#" class="d-flex flex-column form-page s-plan__bg-mobaile mx-auto">
                <input type="text" placeholder="Ваше имя" class="form-page__input">
                <input type="text" placeholder="Ваш телефон" class="form-page__input">
                <button class="btn btn_red d-block mx-auto mt-4">Получить предложение</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>