<div class="container">
    <div class="row s-top align-items-center">
        <div class="col-12 col-lg-6">
            <h2 class="title title_s-top">Маркетинговое Агентство</h2>
            <h1 class="title title_big">LEADS HUNTER</h1>
            <h2 class="title title_medium">которое быстро развивается</h2>
            <p class="text-big mt-3">Мы ставим <span class="s-top__text-line">рекорды продаж</span>, разрушаем застои и ваших конкурентов. Как мы работаем, спросите вы? Все очень просто!</p>
            <button class="btn btn_red mt-5">Хочу получить предложение</button>
            <p class="s-top__text mt-4">Вы сможете получить уйму решений, которые намного лучше, чем у конкурентов</p>
        </div>
        <div class="col-12 col-lg-6 d-none d-lg-block">
            <img src="../img/s-top/pic.png" alt="" srcset="" class="s-top_img-des">
        </div>
    </div>
</div>